@charset "utf-8";
/* reset
================================================== */
* {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* box-sizing
================================================== */
*,
*:before,
*:after {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
}

/* body
================================================== */
body {
width: 100%;
color: #fff;
font-size: 12px;
text-align: center;
word-break: break-all;
background: #000;
}

/* selection
================================================== */
@media screen and (min-width: 768px) {
::selection		   {background:#00F900;}
::-moz-selection    {background:#00F900;}
}

/* a
================================================== */
a {
text-decoration: none;
outline: none;
cursor: pointer;
}
a:link,
a:visited           {color: #00F900;}
@media screen and (min-width: 768px) {
:hover              {
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all  0.3s ease;
}
a:hover 			{opacity: 0.6;}
}

/* font
================================================== */
@font-face {
font-family: "NuKinakoMochi-Reg";
src:url('/font/NuKinakoMochi-Reg.eot');
src:url('/font/NuKinakoMochi-Reg.eot?#iefix') format('embedded-opentype'),
url('/font/NuKinakoMochi-Reg.woff2') format('woff2'),
url('/font/NuKinakoMochi-Reg.ttf') format('truetype'),
url('/font/NuKinakoMochi-Reg.svg#svgFontName') format('svg');
}

/* wrapper
================================================== */
.wrapper {
position: relative;
}

/* section
================================================== */
section,
footer {
line-height: 2.5;
padding: 8% 0;
font-family: "NuKinakoMochi-Reg";
letter-spacing: 0.15em;
}
.about {
background: #FF4C88;
}
.works {
background: #01B7F0;
}
.profile {
background: #ccc;
}
.account {
background: #C882FF;
}
h2 {
font-size: 300%;
}
p {
margin-top: 5%;
}

/* logo
================================================== */
header {
position: relative;
}
.logo-img {
position: absolute;
top: 0px;
left: 0px;
right: 0px;
bottom: 0px;
margin: auto;
z-index: 1;
}
.logo-svg,
.logo-img {
max-width: 800px;
width: 90%;
margin: 0 auto;
}
.logo-svg {
fill-rule:evenodd;
clip-rule:evenodd;
stroke-linecap:round;
stroke-linejoin:round;
stroke-miterlimit:10;
} 
.logo-ring {
fill:none;
fill-rule:nonzero;
stroke:#FEFEA5;
stroke-width:8px;
}
.logo-circle {
fill:none;
fill-rule:nonzero;
stroke:#CAFEFA;
stroke-width:8px;
}
.logo-club {
fill:#FF00CA;
fill-rule:nonzero;
stroke:#FF00CA;
stroke-width:0.3px;
stroke-linecap:butt;
stroke-linejoin:miter;
}
.logo-internet {
fill:none;
fill-rule:nonzero;
stroke:#FF00CA;
stroke-width:7px;
stroke-miterlimit:4;
stroke-dasharray:140,12;
}
.logo-internetclub path:nth-of-type(1){
  animation: blink linear infinite 3s;
}
.logo-internetclub path:nth-of-type(2){
  animation: blink linear infinite 3.5s;
}
.logo-internetclub path:nth-of-type(3){
  animation: blink linear infinite 4s;
}
.logo-internetclub path:nth-of-type(4){
  animation: blink linear infinite 4.5s;
}
.logo-internetclub path:nth-of-type(5){
  animation: blink linear infinite 5s;
}
.logo-internetclub path:nth-of-type(6){
  animation: blink linear infinite 6.5s;
}
.logo-internetclub path:nth-of-type(7){
  animation: blink linear infinite 7s;
}
.logo-internetclub path:nth-of-type(8){
  animation: blink linear infinite 7.5s;
} 
.logo-club {
  animation: blink linear infinite 4s;
}
@keyframes blink {
78%{opacity: 1;}
79%{opacity: 0.4;}
81% {opacity: 1;}
82% {opacity: 0.4;}
83% {opacity: 1;}
92% {opacity: 0.4;}
93% {opacity: 1;}
}

/* about
================================================== */

/* profile
================================================== */
.profile {
color: #000;
}
.profile-list img {
width: 130px;
border-radius: 50%;
}

/* account
================================================== */
.account-list {
display: inline-block;
text-align: left;
}
.account-list li {
margin-top: 1em;
}
.account-list i {
margin-right: 0.2em;
vertical-align: middle;
}
.account-suzuri i {
color: #666;
font-size: 170%;
}
.account-twitter i {
color: #1DA1F2;
font-size: 200%;
}
.account-instagram i {
color: #D100DC;
font-size: 220%;
}
.account-youtube i {
color: #FF0000;
font-size: 190%;
}

/* footer
================================================== */
footer {
color: #999;
}

/* Media Queries
================================================== */
@media screen and (min-width: 768px) {
.sp                                 {display: none;}
}
@media screen and (max-width: 767px) {
br.pc                               {content: "";}
br.pc:after                         {margin-right: -.333em; content:"";}
}