@charset "utf-8";
/* reset
================================================== */
* {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* box-sizing
================================================== */
*,
*:before,
*:after {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
}

/* body
================================================== */
body {
width: 100%;
color: #fff;
font-size: 15px;
text-align: center;
word-break: break-all;
background: #000;
}

/* selection
================================================== */
@media screen and (min-width: 768px) {
::selection		   {background:#00F900;}
::-moz-selection    {background:#00F900;}
}

/* a
================================================== */
a {
text-decoration: none;
outline: none;
cursor: pointer;
}
a:link,
a:visited {color: #fff;}
@media screen and (min-width: 768px) {
:hover {
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all  0.3s ease;
}
a:hover {opacity: 0.6;}
}

/* font
================================================== */
@font-face {
font-family: "kinakomochi";
src: url("/fonts/kinakomochi.otf");
src: url("/fonts/kinakomochi.otf") format("opentype"),
url("/fonts/kinakomochi.eot?#iefix") format("embedded-opentype"),
url("/fonts/kinakomochi.woff2") format("woff2"),
url("/fonts/kinakomochi.woff") format("woff"),
url("/fonts/kinakomochi.ttf") format("truetype"),
url("/fonts/kinakomochi.svg") format("svg");
font-weight: normal;
font-style: normal;
}

/* br
================================================== */
@media screen and (min-width: 768px) {.sp{display: none;}}
@media screen and (max-width: 767px) {
br.pc {content: "";}
br.pc:after {margin-right: -.333em; content:"";}
}

/* common
================================================== */
section,
header,
footer {
position:relative;
font-family: "kinakomochi";
letter-spacing: 0.15em;
}

/* header
================================================== */
.logo img {
position: absolute;
top: 50%;
left: 50%;
transform: translateY(-50%) translateX(-50%);
-webkit-transform: translateY(-50%) translateX(-50%);
}
@media screen and (min-width: 768px) {.logo img {width: 80%; max-width: 900px;}}
@media screen and (max-width: 767px) {.logo img {width: 100%;}}
.logo-01 {animation: blink linear infinite 3s;}
.logo-02 {animation: blink linear infinite 3.5s;}
.logo-03 {animation: blink linear infinite 4s;}
.logo-04 {animation: blink linear infinite 4.5s;}
.logo-05 {animation: blink linear infinite 5s;}
.logo-06 {animation: blink linear infinite 6.5s;}
.logo-07 {animation: blink linear infinite 7s;}
.logo-08 {animation: blink linear infinite 7.5s;}
.logo-09 {animation: blink linear infinite 4s;}
@keyframes blink {
78%{opacity: 1;}
79%{opacity: 0.4;}
81% {opacity: 1;}
82% {opacity: 0.4;}
83% {opacity: 1;}
92% {opacity: 0.4;}
93% {opacity: 1;}
}

/* about
================================================== */
.about {
color: #00F900;
line-height: 3.5;
background: #000;
}
@media screen and (min-width: 768px) {.text {padding: 15% 0;}}
@media screen and (max-width: 767px) {.text {padding: 25% 0; font-size: 80%;}}

/* works
================================================== */
.works-list {
display: flex;
overflow: scroll;
scroll-snap-type: x mandatory;
}
.works-list li {
scroll-snap-align: start;
width: 65vw;
height: 65vw;
font-size: 0;
}
.works-list li img {
height: 100%;
}
.works-list li.t-shirt-404 {background: #00F0F0;}
.works-list li.parker-hello-world {background: #00F900;}
.works-list li.parker-internet-club {background: #FF2F92;}
.works-list li.sweat-404 {background: #D783FF;}
.works-list li.sticker {background: #FB2C2C;}
@media screen and (max-width: 767px) {.works-list li {width: 150vw; height: 150vw;}}

/* youtube
================================================== */
.youtube iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
@media screen and (min-width: 768px) {.youtube {min-height: 95vh;}}
@media screen and (max-width: 767px) {.youtube {min-height: 60vh;}}

/* members
================================================== */
.members {
color: #000;
line-height: 2.0;
background: #76D6FF;
}
.members-list {
display: flex;
justify-content: center;
flex-wrap: nowrap;
}
.members p {
margin-top: 1%;
}
@media screen and (min-width: 768px) {
	.members-list {width: 70%;margin: 0 auto;}
	.members-list img {width: 35%; border-radius: 50%;}
}
@media screen and (max-width: 767px) {
	.members-list {width: 90%;margin: 0 auto;}
	.members-list img {width: 70%; border-radius: 50%;}
}

/* news
================================================== */
h2 {
font-size: 250%;
margin-bottom: 5%;
}
.news {
color: #000;
background: #FF8AD8;
}
.news dl {
width: 90%;
padding: 5%;
margin: 0 auto;
line-height: 2.0;
background: #FFD4FF;
}
.news dl dt {
font-size: 85%;
color: #666;
padding-top: 5%;
}
.news dl dt:first-child {
padding-top: 0;	
}






/* accounts
================================================== */
.mail {background: #F9E231;}
.accounts-list {display: flex;}
.accounts-list li {width: 25%;}
@media screen and (min-width: 768px) {
	.mail {padding: 6%;}
	.mail img {width: 10%;}
	.accounts-list li {padding: 6% 0;}
	.accounts-list li img {
	width: 35%;
	margin: 0 auto;
	}
}
@media screen and (max-width: 767px) {
	.mail {padding: 3%;}
	.mail img {width: 20%;}
	.accounts-list li {padding: 3% 0;}
	.accounts-list li img {
	width: 70%;
	margin: 0 auto;
	}
}
.accounts-suzuri {background: #EDECED;}
.accounts-twitter {background: #1DA1F2;}
.accounts-instagram {
background: -moz-linear-gradient(top right, #545ACE, #EE299B); 
background: -webkit-linear-gradient(top right, #545ACE, #EE299B); 
background: linear-gradient(to bottom left, #545ACE, #EE299B);
}
.accounts-youtube {background: #FF0000;}

/* footer
================================================== */
footer {color: #999; font-size: 80%;}
@media screen and (min-width: 768px) {footer {padding: 5%;}}
@media screen and (max-width: 767px) {footer {padding: 10% 0;}}

