@charset "utf-8";
/* reset
================================================== */
* {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* box-sizing
================================================== */
*,
*:before,
*:after {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
}

/* body
================================================== */
body {
width: 100%;
color: #fff;
font-size: 16px;
text-align: center;
word-break: break-all;
background: #000;
}
@media screen and (max-width: 767px) {
body {font-size: 90%;}
}

/* selection
================================================== */
@media screen and (min-width: 768px) {
::selection		   {background:#00F900;}
::-moz-selection    {background:#00F900;}
}

/* a
================================================== */
a {
text-decoration: none;
outline: none;
cursor: pointer;
}
a:link,
a:visited {color: #fff;}
@media screen and (min-width: 768px) {
:hover {
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all  0.3s ease;
}
a:hover {opacity: 0.6;}
.accounts .accounts-main:hover,
.accounts li:hover {opacity: 0.9;}
}

/* font
================================================== */
@font-face {
font-family: "kinakomochi";
src: url("/common/fonts/kinakomochi.otf");
src:
url("/common/fonts/kinakomochi.otf") format("opentype"),
url("/common/fonts/kinakomochi.ttf") format("truetype"),
url("/common/fonts/kinakomochi.eot?#iefix") format("embedded-opentype"),
url("/common/fonts/kinakomochi.woff2") format("woff2"),
url("/common/fonts/kinakomochi.woff") format("woff");
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "pixelmplus";
src: url("/common/fonts/pixelmplus.ttf");
src:
url("/common/fonts/pixelmplus.ttf") format("truetype"),
url("/common/fonts/pixelmplus.otf") format("opentype"),
url("/common/fonts/pixelmplus.eot?#iefix") format("embedded-opentype"),
url("/common/fonts/pixelmplus.woff2") format("woff2"),
url("/common/fonts/pixelmplus.woff") format("woff");
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "8bitmadness";
src: url("/common/fonts/8bitmadness.ttf");
src:
url("/common/fonts/8bitmadness.ttf") format("truetype"),
url("/common/fonts/8bitmadness.otf") format("opentype"),
url("/common/fonts/8bitmadness.eot?#iefix") format("embedded-opentype"),
url("/common/fonts/8bitmadness.woff2") format("woff2"),
url("/common/fonts/8bitmadness.woff") format("woff");
font-weight: normal;
font-style: normal;
}

/* pc sp
================================================== */
@media screen and (min-width: 768px) {.sp {display: none;}}
@media screen and (max-width: 767px) {.pc {display: none;}}

/* common
================================================== */
section,
header,
footer {
position:relative;
font-family: "kinakomochi", "pixelmplus";
letter-spacing: 0.15em;
}
@media screen and (min-width: 768px) {.text,.members,.news {padding: 20vh 0;}}
@media screen and (max-width: 767px) {.text,.members,.news {padding: 15vh 0;}}
h2 {
font-family: "8bitmadness";
font-size: 450%;
padding: 4% 0;
line-height: 1.0;
color: #fff;
}
.about h2 {font-size: 300%;}
.news h2 {color: #000;}
.photo {
height: 100vh;
height: calc(var(--vh, 1vh) * 100);
overflow: hidden;
}
/* アニメGIF */
.index-sample {
background: transparent url("/common/img/photo/index-01.gif") no-repeat center center;
background-size: cover;
height: 100vh;
height: calc(var(--vh, 1vh) * 100);
}
/* videoタグ */
.video {
width: 100%;
height: 100vh;
height: calc(var(--vh, 1vh) * 100);
background: url(../img/kv-alternative.jpg) no-repeat center/cover;
position: absolute;
top: 0;
left: 0;
overflow: hidden;
z-index: -1;
}
.video video {
display: block;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
position: absolute;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
}
/* pixel */
.pixel-wrapper {
width: 100%;
height: 100%;
background: #000;;
overflow: hidden;
}
.pixel-list {
position: absolute;
height: 100%;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
overflow: hidden;
}
.pixel {
float: left;
opacity: 0;
animation: blink-pixel 2s infinite;
background: #5E5E5E;
}
@keyframes blink-pixel {50% {opacity: 0.5;}}
.pixel-01 {background: #00B7FF;}
.pixel-02 {background: #FFFF00;}
.pixel-03 {background: #FF00CA;}
@media screen and (min-width: 768px) {.photo-small {height: 78vh; height: calc(var(--vh, 1vh) * 78);}}
@media screen and (max-width: 767px) {.photo-small {height: 57vh; height: calc(var(--vh, 1vh) * 57);}}
.photo-small .pixel {background: #00F900;}
@media screen and (min-width: 768px) {
	.pixel-list {width: 108%;}
	.pixel {width: 12vw; padding-top: 20vh;}
}
@media screen and (max-width: 767px) {
	.pixel-list {width: 100%;}
	.pixel {width: 20vw; padding-top: 10vh;}
}

/* header
================================================== */
.logo img {
position: absolute;
top: 50%;
left: 50%;
transform: translateY(-50%) translateX(-50%);
-webkit-transform: translateY(-50%) translateX(-50%);
}
@media screen and (min-width: 768px) {.logo img {width: 70%; max-width: 900px;}}
@media screen and (max-width: 767px) {.logo img {width: 100%;}}
.logo-01 {animation: blink-logo linear infinite 3s;}
.logo-02 {animation: blink-logo linear infinite 3.5s;}
.logo-03 {animation: blink-logo linear infinite 4s;}
.logo-04 {animation: blink-logo linear infinite 4.5s;}
.logo-05 {animation: blink-logo linear infinite 5s;}
.logo-06 {animation: blink-logo linear infinite 6.5s;}
.logo-07 {animation: blink-logo linear infinite 7s;}
.logo-08 {animation: blink-logo linear infinite 7.5s;}
.logo-09 {animation: blink-logo linear infinite 4s;}
@keyframes blink-logo {
78%{opacity: 1;}
79%{opacity: 0.4;}
81% {opacity: 1;}
82% {opacity: 0.4;}
83% {opacity: 1;}
92% {opacity: 0.4;}
93% {opacity: 1;}
}

/* text
================================================== */
.text {
color: #00F900;
line-height: 3.5;
}
.button a {
font-size: 80%;
margin-top: 5%;
padding: 0.5em 6em;
display: inline-block;
background: #444;
}

/* goods
================================================== */
.goods-list {
display: flex;
font-size: 0;
}
.goods-list li.not-found {background: #00B7FF;}
.goods-list li.logo-neon {background: #FF00CA;}
.goods-list li.hello-world {background: #00F900;}
@media screen and (min-width: 768px) {
.goods-list li {width: 33.3333%;}
.goods-list li img {width: 100%;}
}
@media screen and (max-width: 767px) {
	.goods-list {
	overflow: scroll;
	scroll-snap-type: x mandatory;
	}
	.goods-list li {
	scroll-snap-align: start;
	height: 72vh;
	}
	.goods-list li img {height: 100%;}
}

/* youtube
================================================== */
.youtube {
background: #FF0000;
}
@media screen and (min-width: 768px) {.youtube {padding: 0 5% 5% 5%;}}
@media screen and (max-width: 767px) {.youtube {padding: 0 5% 10% 5%;}}
.youtube-wrapper {
position: relative;
padding-bottom: 56.25%;
}
.youtube iframe {
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
width: 100%;
height: 100%;
margin: auto;

}

/* members
================================================== */
.members {
color: #000;
font-size: 90%;
letter-spacing: 0.1em;
line-height: 2.0;
background: #8783FF;
}
.members-list {
display: flex;
justify-content: center;
flex-wrap: nowrap;
}
.members-list span {display: block;}
.members-name {
font-family: "8bitmadness";
font-size: 170%;
letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
	.members-list {width: 70%;margin: 0 auto;}
	.members-list a:hover {display: block;}
	.members-icon img {width: 35%; border-radius: 50%;}
	.members-sns img {width: 9%;}
}
@media screen and (max-width: 767px) {
	.members-list {width: 90%;margin: 0 auto;}
	.members-list img {width: 70%; border-radius: 50%;}
	.members-sns img {width: 25%;}
}

/* news
================================================== */
.news {
color: #000;
background: #FFF468;
}
.news dl {
margin: 0 auto;
line-height: 2.0;
}
.news dl dt {
font-size: 140%;
color: #666;
padding-top: 5%;
font-family: "8bitmadness";
}
.news dl dt:first-child {
padding-top: 0;
}

/* accounts
================================================== */
.accounts-list {display: flex; justify-content: center;}
.accounts-list li {width: 25%; margin: 0 auto;}
.accounts-main span {
width: 25%;
margin: 0 auto;
display: block;
}
.accounts-main img,
.accounts-list li img {
width: 100%;
}
@media screen and (min-width: 768px) {
	.accounts-main img {padding: 28% 32%;}
	.accounts-list li img {padding: 28% 32%;}
}
@media screen and (max-width: 767px) {
	.accounts-main img {padding: 14% 17%;}
	.accounts-list li img {padding: 14% 17%;}
}
.accounts-suzuri {background: #EDECED;}
.accounts-twitter {background: #1DA1F2;}
.accounts-instagram {
background: -moz-linear-gradient(top right, #545ACE, #EE299B);
background: -webkit-linear-gradient(top right, #545ACE, #EE299B);
background: linear-gradient(to bottom left, #545ACE, #EE299B);
}
.accounts-youtube {background: #FF0000;}
.accounts-mail {background: #C0C0C0;}

/* footer
================================================== */
footer {color: #999; font-size: 170%; font-family: "8bitmadness";}
@media screen and (min-width: 768px) {footer {padding: 5%;}}
@media screen and (max-width: 767px) {footer {padding: 10% 0;}}

/* pages
================================================== */
.pages-goods-list {
width: 100%;
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.pages .text p {margin-top: 5%;}
.pages .text p:first-child {margin-top: 0;}
.pages-goods-list li img {
width: 100%;
height: auto;
}
@media screen and (min-width: 768px) {
	.pages-goods-list li {width: 50%;}
	li.max {width: 100%;}
	li.max img {width: 50%;}
}
@media screen and (max-width: 767px) {
	.pages-goods-list {flex-direction: column;}
	.order1 {order: 1;}
	.order2 {order: 2;}
	.order3 {order: 4;}
	.order4 {order: 3;}
	.order5 {order: 5;}
	.order6 {order: 6;}
	.order7 {order: 7;}
}

/* not-found
================================================== */
.pages.not-found .text {color: #00B7FF;}
.pages.not-found .pages-goods-list {background: #212121;}
.pages.not-found .order1,
.pages.not-found .order4,
.pages.not-found .order5,
.pages.not-found .order7 {background: #00B7FF;}

/* logo-neon
================================================== */
.pages.logo-neon .text {color: #FF00CA;}
.pages.logo-neon .pages-goods-list {background: #FFCDFF;}
.pages.logo-neon .order1,
.pages.logo-neon .order4,
.pages.logo-neon .order5,
.pages.logo-neon .order7 {background: #FF00CA;}

/* hello-world
================================================== */
.pages.hello-world .text {color: #00F900;}
.pages.hello-world .pages-goods-list {background: #797979;}
.pages.hello-world .order1,
.pages.hello-world .order4 {background: #00F900;}
