@charset "utf-8";
/* reset
================================================== */
* {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* box-sizing
================================================== */
*,
*:before,
*:after {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
}

/* body
================================================== */
body {
width: 100%;
color: #fff;
font-size: 16px;
text-align: center;
word-break: break-all;
cursor: none;
background: #000;
}
@media screen and (max-width: 767px) {body {font-size: 90%;}}

/* cursor
================================================== */
@media screen and (min-width: 768px) {
	@keyframes cursor-animation {
	0%{ border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; }
	10%{ border-radius: 53% 47% 33% 67% / 60% 30% 70% 40%; }
	20%{ border-radius: 71% 29% 38% 62% / 72% 48% 52% 28%; transform: scale(3.0);}
	30%{ border-radius: 41% 59% 45% 55% / 33% 56% 44% 67%;}
	40%{ border-radius: 55% 45% 67% 33% / 77% 48% 52% 23%; }
	50%{ border-radius: 44% 56% 22% 78% / 31% 74% 26% 69%; }
	60%{ border-radius: 46% 54% 48% 52% / 61% 59% 41% 39%; transform: scale(0.5);}
	70%{ border-radius: 44% 56% 60% 40% / 63% 36% 64% 37%; }
	80%{ border-radius: 20% 80% 45% 55% / 31% 79% 21% 69%; }
	90%{ border-radius: 66% 34% 57% 43% / 49% 51% 49% 51%; }
	100%{ border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; }
	}
	.cursor {
	pointer-events: none;
	touch-action: none;
	position: fixed;
	width: 80px;
	height: 80px;
	display: block;
	left: -20px;
	top: -20px;
	mix-blend-mode: difference;
	z-index: 1;
	}
	.cursor-inner {
	background: #fff;
	border-radius: 71% 29% 38% 62% / 72% 48% 52% 28%; transform: scale(3.0);
	animation: cursor-animation 5s linear 3;
	}
}

/* selection
================================================== */
@media screen and (min-width: 768px) {
::selection		   					{background: transparent;}
::-moz-selection    				{background: transparent;}
header ::selection		   			{background: transparent!important;}
header ::-moz-selection    			{background: transparent!important;}
.about ::selection					{background: #00C801;}
.about ::-moz-selection 			{background: #00C801;}
.pages-not-found ::selection		{background: #0086BA;}
.pages-not-found ::-moz-selection  	{background: #0086BA;}
.pages-hello-world ::selection		{background: #00C801;}
.pages-hello-world ::-moz-selection {background: #00C801;}
.pages-neon-logo ::selection		{background: #B2008D;}
.pages-neon-logo ::-moz-selection 	{background: #B2008D;}
.pages-mail ::selection				{background: #BE0000;}
.pages-mail ::-moz-selection 		{background: #BE0000;}
.goods ::selection					{background: #ccc;}
.goods ::-moz-selection 			{background: #ccc;}
.youtube ::selection				{background: #BE0000;}
.youtube ::-moz-selection 			{background: #BE0000;}
.members ::selection				{background: #9598FF;}
.members ::-moz-selection 			{background: #9598FF;}
.news ::selection					{background: #EFE460;}
.news ::-moz-selection 				{background: #EFE460;}
.address ::selection				{background: #55C7FF;}
.address ::-moz-selection			{background: #55C7FF;}
footer ::selection		   			{background: transparent!important;}
footer ::-moz-selection    			{background: transparent!important;}
}

/* a
================================================== */
a {
text-decoration: none;
outline: none;
cursor: pointer;
color: #fff;
}

/* font
================================================== */
@font-face {
font-family: "kinakomochi";
src: url("/assets/fonts/kinakomochi.otf");
src:
url("/assets/fonts/kinakomochi.otf") format("opentype"),
url("/assets/fonts/kinakomochi.ttf") format("truetype"),
url("/assets/fonts/kinakomochi.eot?#iefix") format("embedded-opentype"),
url("/assets/fonts/kinakomochi.woff2") format("woff2"),
url("/assets/fonts/kinakomochi.woff") format("woff");
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "pixelmplus";
src: url("/assets/fonts/pixelmplus.ttf");
src:
url("/assets/fonts/pixelmplus.ttf") format("truetype"),
url("/assets/fonts/pixelmplus.otf") format("opentype"),
url("/assets/fonts/pixelmplus.eot?#iefix") format("embedded-opentype"),
url("/assets/fonts/pixelmplus.woff2") format("woff2"),
url("/assets/fonts/pixelmplus.woff") format("woff");
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "8bitmadness";
src: url("/assets/fonts/8bitmadness.ttf");
src:
url("/assets/fonts/8bitmadness.ttf") format("truetype"),
url("/assets/fonts/8bitmadness.otf") format("opentype"),
url("/assets/fonts/8bitmadness.eot?#iefix") format("embedded-opentype"),
url("/assets/fonts/8bitmadness.woff2") format("woff2"),
url("/assets/fonts/8bitmadness.woff") format("woff");
font-weight: normal;
font-style: normal;
}

/* common
================================================== */
.wrapper {overflow: hidden;}
section,
header,
footer {
position: relative;
font-family: "kinakomochi", "pixelmplus";
letter-spacing: 0.15em;
}

/* 
================================================== */
.summary {
display: block;
font-size: 14px;
color: #fff;
line-height: 1.8;
}
.logo-title .summary {margin-bottom: 0;}
.balloon 		{font-size: 300%;}
.balloon:before {content:"\5C";}
.balloon:after 	{content:"\2f";}
.news .title,
.news .summary 	{color: #000;}
/* @keyframes blink-cursor {50% {opacity: 0;}}
.summary:after {
content: "";
padding: 0.2em;
vertical-align: middle;
border-right: 0.4em solid;
animation: blink-cursor 1s infinite;
} */

/* title
================================================== */
@keyframes text-animation {
43% {text-shadow: 0 0 0 transparent;}
44% {text-shadow: 0 0 0 transparent; transform: scale(1.0);}
45% {text-shadow: 0.1em -0.15em #FF2600, -0.1em 0.15em #00FDFF; transform: scale(1.08);}
46% {text-shadow: 0 0 0 transparent; transform: scale(1.0);}
47% {text-shadow: -0.1em 0 #FF2600, 0.1em 0 #00FDFF;}
48% {text-shadow: 0 0 0 transparent;}
49% {text-shadow: -0.1em 0 #FF2600, 0.1em 0 #00FDFF;}
50% {text-shadow: 0 0 0 transparent;}
51% {text-shadow: -0.2em 0 #FFFB00, 0.2em 0 #0716FF;}
52% {text-shadow: 0 0 0 transparent;}
53% {text-shadow: -0.1em 0 #D935FB, 0.1em 0 #00F900;}
54% {text-shadow: 0 0 0 transparent;}
}
.title {
position: relative;
display: block;
font-family: "8bitmadness", "kinakomochi", "pixelmplus";
font-size: 400%;
line-height: 0.8;
color: #fff;
}
.title-active.title:not(.balloon) 	{animation: text-animation linear 3.5s 3;}
.button-active.button				{animation: text-animation 4s 3;}

/* header
================================================== */
header {
width: 100%;
position: fixed;
left: auto;
right: auto;
margin: 0 auto;
mix-blend-mode: difference;
z-index: 100;
}
@media screen and (min-width: 768px) {
	header {top: 6%;}
	header img {width: 15%;}
}
@media screen and (max-width: 767px) {
	header {top: 5%;}
	header img {width: 50%;}
}

/* logo
================================================== */
.photo {
height: 100vh;
height: calc(var(--vh, 1vh) * 100);
overflow: hidden;
}
.logo img,
.logo-title {
position: absolute;
top: 50%;
left: 50%;
transform: translateY(-50%) translateX(-50%);
-webkit-transform: translateY(-50%) translateX(-50%);
}
@media screen and (min-width: 768px) {
	.logo img {width: 55%;}
	.logo.small img {width: 20%;}
}
@media screen and (max-width: 767px) {
	.logo img {width: 100%;}
	.logo-title {width: 100%;}
	.pages .logo img {width: 90%;}
	.pages .logo.small img {width: 30%;}
}
@keyframes logo-animation {
28%{opacity: 1;}
29%{opacity: 0.4;}
31% {opacity: 1;}
32% {opacity: 0.4;}
33% {opacity: 1;}
42% {opacity: 0.4;}
43% {opacity: 1;}
}
.logo-01 {animation: logo-animation linear 2 3s;}
.logo-02 {animation: logo-animation linear 2 3.5s;}
.logo-03 {animation: logo-animation linear 2 4s;}
.logo-04 {animation: logo-animation linear 2 4.5s;}
.logo-05 {animation: logo-animation linear 2 5s;}
.logo-06 {animation: logo-animation linear 2 6.5s;}
.logo-07 {animation: logo-animation linear 2 7s;}
.logo-08 {animation: logo-animation linear 2 7.5s;}
.logo-09 {animation: logo-animation linear 2 4s;}

/* pixel
================================================== */
.pixel-wrapper {
width: 100%;
height: 100%;
background: #000;;
overflow: hidden;
}
.pixel-list {
position: absolute;
height: 100%;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
overflow: hidden;
}
.pixel {
float: left;
opacity: 0;
background: #424242;
}
@keyframes pixel-animation 				{50% {opacity: 0.6;}}
.pixel-active .pixel     				{animation: pixel-animation 5s infinite;}
.color-blue .pixel 						{background: #00B7FF;}
.color-blue .pixel-wrapper 				{background: #002332;}
.color-aqua .pixel 						{background: #2D8CFF;}
.color-aqua .pixel-wrapper 				{background: #15457F;}
.color-magenta .pixel 					{background: #FF00CA;}
.color-magenta .pixel-wrapper 			{background: #22001B;}
.color-yellow .pixel 					{background: #FFF468;}
.color-yellow .pixel-wrapper 			{background: #757602;}
.color-green .pixel 					{background: #00F900;}
.color-green .pixel-wrapper 			{background: #002F00;}
.color-red .pixel 						{background: #FF0000;}
.color-red .pixel-wrapper 				{background: #6A0000;}
.color-purple .pixel 					{background: #8783FF;}
.color-purple .pixel-wrapper 			{background: #232243;}
@media screen and (min-width: 768px) {
	.pixel-list {width: 200vh;}
	.pixel {
		width: 20vh;
		height: 20vh;
		height: calc(var(--vh, 1vh) * 20);
	}
	.photo-small {height: 60vh; height: calc(var(--vh, 1vh) * 60);}
	.photo-medium {height: 100vh; height: calc(var(--vh, 1vh) * 100);}
}
@media screen and (max-width: 767px) {
	.pixel-list {width: 55vh;}
	.pixel {
		width: 11vh;
		height: 12.6vh;
		height: calc(var(--vh, 1vh) * 12.6);
	}
	.photo-small {height: 37.5vh; height: calc(var(--vh, 1vh) * 37.5);}
	.photo-medium {height: 75vh; height: calc(var(--vh, 1vh) * 75);}
}
@media screen and (max-width: 320px) {
	.pixel-list {width: 67.8vh;}
	.pixel {
		width: 11.3vh;
		height: 12.7vh;
		height: calc(var(--vh, 1vh) * 12.7);
	}
	.photo-small {height: 38.1vh; height: calc(var(--vh, 1vh) * 38.1);}
	.photo-medium {height: 76.2vh; height: calc(var(--vh, 1vh) * 76.2);}
}

/* about
================================================== */
.about p {
color: #00F900;
line-height: 3.5;
}

/* button
================================================== */
.button {
display: block;
margin: 0 auto;
width: 200px;
font-size: 14px;
line-height: 3.5;
letter-spacing: 0.1em;
border: 3px solid #fff;
border-radius: 50px;
background: rgba(0,0,0,0.4);
}
.button:before {content: "💬"; font-size: 120%; margin-right: 0.2em;}
.button:after {content: ">";}
.goods-list .button,
.pages-goods-list .button {
position: absolute;
bottom: 10vh;
left: 50%;
margin-left: -100px;
}
@media screen and (max-width: 767px) {
.goods-list .button,
.pages-goods-list .button {bottom: 4.5vh;}
}
.goods-list .button:before,
.pages-goods-list .button:before {content: "👕";}
.goods-list .button:after,
.pages-goods-list .button:after {content: ">";}
@media screen and (min-width: 768px) {
	:hover,
	.goods .button	{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all  0.5s ease;
	}
	.button:hover,
	.goods li:hover .button {
	transform: scale(1.2);
	transition-duration: 0.8s;
	background: rgba(0,249,0,0.5);
	}
	.goods li.not-found:hover .button,
	.goods.pages-not-found li:hover .button,
	.goods.pages-not-found .button-home:hover {background: rgba(0,183,255,0.5);}
	.goods li.neon-logo:hover .button,
	.goods.pages-neon-logo li:hover .button,
	.goods.pages-neon-logo .button-home:hover {background: rgba(255,0,202,0.5);}
	.zoom .button:hover {background: rgba(137,201,255,0.5);}
}
.zoom .button {letter-spacing: -0.05em;}
.zoom .button:before {content: "🖼";}
.button-home:before {content: "<🏠"; font-size: 120%;}
.button-home:after {content: "";}

/* goods
================================================== */
.goods-list {
display: flex;
font-size: 0;
}
.goods-list li {
position: relative;
}
.goods-list li.not-found {background: #00B7FF;}
.goods-list li.neon-logo {background: #FF00CA;}
.goods-list li.hello-world {background: #00F900;}
@media screen and (min-width: 768px) {
.goods-list li {width: 33.3333%;}
.goods-list li img {width: 100%;}
}
@media screen and (max-width: 767px) {
	.goods-list {
	overflow: auto;
	scroll-snap-type: x proximity;
	}
	.goods-list li {
	scroll-snap-align: start;
	height: 72vh;
	}
	.goods-list li img {height: 100%;}
}

/* youtube
================================================== */
.youtube {background: #FF0000;}
@media screen and (min-width: 768px) {.youtube {padding: 0 5% 5% 5%;}}
@media screen and (max-width: 767px) {.youtube {padding: 0 5% 10% 5%;}}
.youtube-wrapper {
position: relative;
padding-bottom: 56.25%;
}
.youtube-wrapper iframe {
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
width: 100%;
height: 100%;
margin: auto;
}

/* members
================================================== */
.members {
color: #000;
font-size: 90%;
letter-spacing: 0.1em;
line-height: 2.0;
background: #8783FF;
}
.members-list {
display: flex;
justify-content: center;
flex-wrap: nowrap;
}
.members-list span {display: block;}
.members-name {
font-family: "8bitmadness";
font-size: 170%;
letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
	.members-list {width: 70%;margin: 0 auto;}
	.members-icon img {width: 35%; border-radius: 50%;}
	.members-sns img {width: 9%;}
}
@media screen and (max-width: 767px) {
	.members-list {width: 90%;margin: 0 auto;}
	.members-list img {width: 70%; border-radius: 50%;}
	.members-sns img {width: 25%;}
}

/* zoom
================================================== */
.zoom {background: #2D8CFF;}
.zoom img {width:90%;}

/* news
================================================== */
.news {
color: #000;
background: #FFF468;
}
.news dl {
margin: 0 auto;
line-height: 2.0;
}
.news dl dt {
font-size: 140%;
color: #666;
font-family: "8bitmadness";
}
.news dl dt:first-child {
padding-top: 0;
}

/* address
================================================== */
.address {background: #55C7FF;}
.share-list {
display: flex;
justify-content: center;
flex-wrap: nowrap;
}
.share-twitter a {background: #1DA1F2;}
.share-facebook a {background: #1877F2;}
.share-list li a {
display: block;
width: 100%;
font-size: 85%;
line-height: 4.0;
border-radius: 5px;
}
.share-list img {
width: 50px;
vertical-align: middle;
}
.share-list li:first-child {margin-right: 25px;}
@media screen and (min-width: 768px) {
	.share {padding: 0vh 0 0vh 0;}
	.share-list li {width: 140px;}
	
}
@media screen and (max-width: 767px) {
	.share {padding: 0 0 5vh 0;}
	.share-list li {width: 125px;}
}
.accounts-mail {
margin: 0 auto;
display: block;
}
.contact img,
.accounts-list li img {width: 100%;}
.accounts-list {
display: flex;
justify-content: center;
}
.accounts-list li {width: 25%; margin: 0 auto;}
.accounts-suzuri {background: #EDECED;}
.accounts-twitter {background: #1DA1F2;}
.accounts-instagram {
background: -moz-linear-gradient(top right, #545ACE, #EE299B);
background: -webkit-linear-gradient(top right, #545ACE, #EE299B);
background: linear-gradient(to bottom left, #545ACE, #EE299B);
}
.accounts-youtube {background: #FF0000;}
@media screen and (min-width: 768px) {
	.accounts-list li img {padding: 20% 32%;}
	.accounts-mail {width: 6.5%;}
}
@media screen and (max-width: 767px) {
	.accounts-list li img {padding: 14% 17%;}
	.accounts-mail {width: 15%;}
}

/* text
================================================== */
.text {padding: 20vh 0;}
@media screen and (min-width: 768px) {
.text {
background-image: url("/assets/img/common/bg.svg"), url("/assets/img/common/bg.svg");
background-position: left 100px, right bottom 100px;
background-repeat: no-repeat, no-repeat;
background-size: 10% auto, 10% auto;
}
}
@media screen and (max-width: 767px) {
.text {
background-image: url("/assets/img/common/bg.svg"), url("/assets/img/common/bg.svg");
background-position: left 40px, right bottom 40px;
background-repeat: no-repeat, no-repeat;
background-size: 20% auto, 20% auto;
}
}

/* footer
================================================== */
footer {color: #999; font-size: 90%;}
@media screen and (min-width: 768px) {footer {padding: 5%;}}
@media screen and (max-width: 767px) {footer {padding: 10% 0;}}

/* pages
================================================== */
.pages-goods-list {
width: 100%;
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.pages-goods-list li {position: relative;}
.pages-goods-list li img {
width: 100%;
height: auto;
}
@media screen and (min-width: 768px) {
	.pages-goods-list li {width: 50%;}
	li.max {width: 100%;}
	li.max img {width: 50%;}
	.order1 {order: 1;}
	.order2 {order: 2;}
	.order3 {order: 4;}
	.order4 {order: 3;}
	.order5 {order: 5;}
	.order6 {order: 6;}
	.order7 {order: 8;}
	.order8 {order: 7;}
	.order9 {order: 9;}
}

/* hashtag
================================================== */
.hashtag {
position: absolute;
padding: 10px 7px 7px 7px;
font-size: 90%;
background: rgba(255,255,255,0.3) ;
border: solid 3px #fff;
border-radius: 5px;
}
.hashtag:before {content: "#";}
.hashtag-left:after {
content: "";
position: absolute;
top: 50%;
right: -15px;
margin-top: -7px;
border: 7px solid transparent;
border-left: 7px solid #fff;
z-index: 1;
}
.hashtag-right:after {
content: "";
position: absolute;
top: 50%;
left: -15px;
margin-top: -7px;
border: 7px solid transparent;
border-right: 7px solid #fff;
z-index: 1;
}
.hashtag-01 {top: 5.5%; left: 5.5%;}
.hashtag-02 {top: 13%; left: 8%;}
.hashtag-03 {top: 5.5%; right: 5.5%;}
.hashtag-04 {top: 13%; right: 8%;}
.pages-not-found .hashtag-color 					{color: #00B7FF;}
.pages-not-found .hashtag-color.hashtag				{border: solid 3px #00B7FF; background: rgba(255,255,255,0.1);}
.pages-not-found .hashtag-color.hashtag-left:after 	{border-left: 7px solid #00B7FF;}
.pages-not-found .hashtag-color.hashtag-right:after {border-right: 7px solid #00B7FF;}
.pages-neon-logo .hashtag-color 					{color: #FF00CA;}
.pages-neon-logo .hashtag-color.hashtag				{border: solid 3px #FF00CA; background: rgba(255,255,255,0.1);}
.pages-neon-logo .hashtag-color.hashtag-left:after 	{border-left: 7px solid #FF00CA;}
.pages-neon-logo .hashtag-color.hashtag-right:after {border-right: 7px solid #FF00CA;}
@media screen and (max-width: 767px) {
	.hashtag-02 {top: 18%;}
	.hashtag-04 {top: 18%;}
}

/* pages-not-found
================================================== */
.pages-not-found .about p {color: #00B7FF;}
.pages-not-found .pages-goods-list {background: #212121;}
.pages-not-found .pages-goods-list li:nth-last-child(odd) {background: #00B7FF;}

/* hello-world
================================================== */
.pages-hello-world .about p {color: #00F900;}
.pages-hello-world .pages-goods-list {background: #797979;}
.pages-hello-world .pages-goods-list li:nth-last-child(odd) {background: #00F900;}

/* neon-logo
================================================== */
.pages-neon-logo .about p {color: #FF00CA;}
.pages-neon-logo .pages-goods-list {background: #FFCDFF;}
.pages-neon-logo .pages-goods-list li:nth-last-child(odd) {background: #FF00CA;}

/* pages-mail
================================================== */
.pages-mail .about p {color: #fff;}
.mail-address {
display: inline-block;
letter-spacing: -0.05em;
color: #fff;
padding: 10px;
background: #FF0000;
}

/* margin
================================================== */
.title,
.pages .text .title,
p,
.button,
.news dl dt {margin-top: 5vh;}
.summary {
margin-top: 1vh;
margin-bottom: 5vh;
}
.mail-address {margin-top: 2vh;}
.text .title,
.logo-title .title {margin-top: 0;} 
.address .title {
margin-top: 0;
padding-top: 5vh;
}
