@charset "utf-8";
/* reset
================================================== */
* {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* box-sizing
================================================== */
*,
*:before,
*:after {box-sizing: border-box;}

/* body
================================================== */
body {
width: 100%;
color: #fff;
font-size: 16px;
text-align: center;
word-break: break-all;
cursor: none;
background: #000;
}
@media screen and (max-width: 767px) {body {font-size: 90%;}}

/* br
================================================== */
@media screen and (min-width: 768px) {
.sp                                 {display: none;}
}
@media screen and (max-width: 767px) {
.pc                               {content: "";}
.pc:after                         {margin-right: -1em; content:"";}
.sp                               {display: block;}
}

/* cursor
================================================== */
@media screen and (min-width: 768px) {
@keyframes cursor-animation {
0%{ border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;}
10%{ border-radius: 53% 47% 33% 67% / 60% 30% 70% 40%;}
20%{ border-radius: 71% 29% 38% 62% / 72% 48% 52% 28%; transform: scale(3.0);}
30%{ border-radius: 41% 59% 45% 55% / 33% 56% 44% 67%;}
40%{ border-radius: 55% 45% 67% 33% / 77% 48% 52% 23%;}
50%{ border-radius: 44% 56% 22% 78% / 31% 74% 26% 69%;}
60%{ border-radius: 46% 54% 48% 52% / 61% 59% 41% 39%; transform: scale(0.5);}
70%{ border-radius: 44% 56% 60% 40% / 63% 36% 64% 37%;}
80%{ border-radius: 20% 80% 45% 55% / 31% 79% 21% 69%;}
90%{ border-radius: 66% 34% 57% 43% / 49% 51% 49% 51%;}
100%{ border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;}
}
.cursor-wrapper,
.cursor {
pointer-events: none;
touch-action: none;
position: fixed;
width: 80px;
height: 80px;
display: block;
left: -20px;
top: -20px;
mix-blend-mode: difference;
z-index: 1;
}
.cursor {
opacity: 0;
background: #fff;
border-radius: 71% 29% 38% 62% / 72% 48% 52% 28%; transform: scale(3.0);
}
.cursor-active {
opacity: 1;
transition: all  1s ease;
animation: cursor-animation 5s linear 3;
}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
.cursor-wrapper {display: none;}
}

/* selection
================================================== */
@media screen and (min-width: 768px) {
header ::selection,
footer ::selection,
.visual ::selection,
.hero ::selection					{background: transparent!important;}
.about ::selection					{background: #00C801;}
.goods ::selection					{background: #ccc;}
.members ::selection				{background: #A795FF;}
.wallpapers ::selection				{background: #257CE4;}
.news ::selection					{background: #EFE460;}
.pages-not-found ::selection		{background: #0086BA;}
.pages-hello-world ::selection		{background: #00C801;}
.pages-neon-logo ::selection		{background: #B2008D;}
.pages-members ::selection			{background: #B4B3FF;}
.pages-mail ::selection				{background: #BE0000;}
.videos ::selection				    {background: #BE0000;}
.address ::selection				{background: #55C7FF;}
}

/* a
================================================== */
a {
text-decoration: none;
outline: none;
cursor: pointer;
color: #fff;
}

/* font
================================================== */
@font-face {
font-family: "kinakomochi";
src: url("/assets/fonts/kinakomochi.otf");
src:
url("/assets/fonts/kinakomochi.otf") format("opentype"),
url("/assets/fonts/kinakomochi.ttf") format("truetype"),
url("/assets/fonts/kinakomochi.eot?#iefix") format("embedded-opentype"),
url("/assets/fonts/kinakomochi.woff2") format("woff2"),
url("/assets/fonts/kinakomochi.woff") format("woff");
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "pixelmplus";
src: url("/assets/fonts/pixelmplus.ttf");
src:
url("/assets/fonts/pixelmplus.ttf") format("truetype"),
url("/assets/fonts/pixelmplus.otf") format("opentype"),
url("/assets/fonts/pixelmplus.eot?#iefix") format("embedded-opentype"),
url("/assets/fonts/pixelmplus.woff2") format("woff2"),
url("/assets/fonts/pixelmplus.woff") format("woff");
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "8bitmadness";
src: url("/assets/fonts/8bitmadness.ttf");
src:
url("/assets/fonts/8bitmadness.ttf") format("truetype"),
url("/assets/fonts/8bitmadness.otf") format("opentype"),
url("/assets/fonts/8bitmadness.eot?#iefix") format("embedded-opentype"),
url("/assets/fonts/8bitmadness.woff2") format("woff2"),
url("/assets/fonts/8bitmadness.woff") format("woff");
font-weight: normal;
font-style: normal;
}

/* common
================================================== */
.wrapper {overflow: hidden;}
section,
header,
footer {
position: relative;
font-family: "kinakomochi", "pixelmplus";
letter-spacing: 0.15em;
}
.summary {
display: block;
font-size: 14px;
color: #fff;
line-height: 1.8;
}
.balloon.title 			{font-size: 300%;}
.balloon:before 		{content:"\5C";}
.balloon:after 			{content:"\2f";}
.news .title,
.news .summary 			{color: #000;}
@keyframes blink-animation {50% {opacity: 0;}}
.animationable-active.summary:after {
content: "";
padding: 0.2em;
vertical-align: middle;
border-right: 0.4em solid;
animation: blink-animation 1.2s 5;
}

/* title
================================================== */
@keyframes text-animation {
43% {text-shadow: 0 0 0 transparent;}
44% {text-shadow: 0 0 0 transparent; transform: scale(1.0);}
45% {text-shadow: 0.1em -0.15em #FF2600, -0.1em 0.15em #00FDFF; transform: scale(1.2);}
46% {text-shadow: 0 0 0 transparent; transform: scale(1.0);}
47% {text-shadow: -0.2em 0 #FF2600, 0.2em 0 #00FDFF;}
48% {text-shadow: 0 0 0 transparent;}
49% {text-shadow: -0.1em 0 #FF2600, 0.1em 0 #00FDFF;}
50% {text-shadow: 0 0 0 transparent;}
51% {text-shadow: -0.2em 0 #FFFB00, 0.2em 0 #0716FF;}
52% {text-shadow: 0 0 0 transparent;}
53% {text-shadow: -0.1em 0 #D935FB, 0.1em 0 #00F900;}
54% {text-shadow: 0 0 0 transparent;}
}
.title {
position: relative;
display: block;
font-family: "8bitmadness", "kinakomochi", "pixelmplus";
font-size: 400%;
line-height: 0.8;
color: #fff;
}
.animationable-active.title:not(.balloon) 	{animation: text-animation linear 3.5s 3;}
.animationable-active.button a,
.goods .animationable-active.button span	{animation: text-animation 4s 3;}

/* header
================================================== */
header {
width: 100%;
position: fixed;
left: auto;
right: auto;
margin: 0 auto;
mix-blend-mode: difference;
z-index: 100;
}
@media screen and (min-width: 768px) {
header {top: 9vh;}
header img {width: 17%;}
}
@media screen and (max-width: 767px) {
header {top: 2.7vh;}
header img {width: 50%;}
}

/* logo
================================================== */
@media screen and (min-width: 768px) {.visual {height: 100vh;}}
@media screen and (min-width: 768px) and (max-width: 1024px) {.visual {height: 132vw;}}
@media screen and (max-width: 767px) {.visual {height: 170vw;}}
.arrow {
position: absolute;
bottom: 4.5vh;
left: 50%;
height: auto;
}
.logo img {
position: absolute;
top: 50%;
left: 50%;
transform: translateY(-50%) translateX(-50%);
z-index: 9999;
}
@media screen and (min-width: 768px) {
    .visual {
    background-image: url("/assets/img/bg/visual-pc-left.svg"), url("/assets/img/bg/visual-pc-right.svg");
    background-position: left top, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    }
    .arrow {
    margin-left: -1.8vh;
    width: 3.6vh;
    }
    .logo img {width: 70vh;}
    .pages .logo img {width: 60vh;}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .visual {
    background-image: url("/assets/img/bg/visual-sp-top.svg"), url("/assets/img/bg/visual-sp-bottom.svg");
    background-position: center top, center bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 100% auto, 100% auto;
    }
    .logo img {width: 50vh;}
}
@media screen and (max-width: 767px) {
    .visual {
    background-image: url("/assets/img/bg/visual-sp-top.svg"), url("/assets/img/bg/visual-sp-bottom.svg");
    background-position: center top, center bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 100% auto, 100% auto;
    }
    .arrow {
    margin-left: -4%;
    width: 8%;
    }
    .logo img {width: 85%;}
    .pages .logo img {width: 40vh;}
}
@keyframes logo-animation {
28%{opacity: 1;}
29%{opacity: 0.4;}
31% {opacity: 1;}
32% {opacity: 0.4;}
33% {opacity: 1;}
42% {opacity: 0.4;}
43% {opacity: 1;}
}
.logo-n 	{animation: logo-animation linear 5 3.5s;}
.logo-r 	{animation: logo-animation linear 5 5.1s;}
.logo-e 	{animation: logo-animation linear 3 7.4s;}
.logo-club 	{animation: logo-animation linear 3 8.2s;}

/* pixel
================================================== */
.pixel-wrapper {
width: 100%;
height: 100%;
overflow: hidden;
}
.pixels {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
overflow: hidden;
}
.pixels li {
position: relative;
}
@media screen and (min-width: 768px) {
.pixels 				{height: 25vw;}
.pixels li 				{width: 12.5%;}
.pages .hero        	{height: 50vw;}
}
@media screen and (max-width: 767px) {
.pixels 				{height: 40vw;}
.pixels li 				{width: 20%;}
.pages .hero        	{height: 80vw;}
}
.pixels li:before {
content: "";
display: block;
padding-top: 100%;
}
.pixels li span {
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
text-align: center;
}
.pixels li span:before {
content: "";
height: 100%;
vertical-align: middle;
width: 0;
display: inline-block;
}
@keyframes pixel-animation 		{50% {opacity: 0.8;}}
.pixel							{opacity: 0;}
.animationable-active .pixel    {animation: pixel-animation 2s 2;}
.pixels li:nth-child(2),
.pixels li:nth-child(4),
.pixels li:nth-child(6),
.pixels li:nth-child(8),
.pixels li:nth-child(9),
.pixels li:nth-child(11),
.pixels li:nth-child(13),
.pixels li:nth-child(15),
.pixels li:nth-child(18),
.pixels li:nth-child(20),
.pixels li:nth-child(22),
.pixels li:nth-child(24),
.pixels li:nth-child(25),
.pixels li:nth-child(27),
.pixels li:nth-child(29),
.pixels li:nth-child(31),
.pixels li:nth-child(34),
.pixels li:nth-child(36),
.pixels li:nth-child(38),
.pixels li:nth-child(40)	{background: #000; opacity: 0.2;}
.color-green .pixel 		{background: #00F900;}
.color-green .pixels 		{background: #013C01;}
.color-gray .pixel 			{background: #929292;}
.color-gray .pixels 		{background: #2E3030;}
.color-red .pixel 			{background: #FF0000;}
.color-red .pixels 			{background: #C70000;}
.color-purple .pixel 		{background: #8783FF;}
.color-purple .pixels 		{background: #6764C8;}
.color-aqua .pixel 			{background: #2D8CFF;}
.color-aqua .pixels 		{background: #216DC9;}
.color-yellow .pixel 		{background: #FFF468;}
.color-yellow .pixels 		{background: #E6DA4D;}

/* button
================================================== */
.button a,
.goods .button span {
display: block;
margin: 0 auto;
width: 200px;
color: #fff;
font-size: 14px;
line-height: 3.5;
letter-spacing: 0.1em;
border: 3px solid #fff;
border-radius: 50px;
}
.goods .button span {
position: absolute;
bottom: 10vh;
left: 50%;
margin-left: -100px;
}
@media screen and (max-width: 320px) {
.button a,
.goods .button span {width: 180px; line-height: 3.2;}
.goods .button span {margin-left: -90px;}
}
.button a:before			{content: "💬"; font-size: 120%; margin-right: 0.2em;}
.button span:before			{content: "👕"; font-size: 120%; margin-right: 0.2em;}
.button a:after,
.button span:after			{content: ">";}
.button-wallpapers a:before	{content: "🖼";}
.button-home a:before		{content: "<🏠";}
.button-home a:after		{content: "";}
.mail .button a:before		{content: "💌";}

.button a,
.button span 				{background: rgba(50,50,50,0.4);}
.members .button a,
.wallpapers .button a 		{background: rgba(0,0,0,0.2);}
.mail .button a				{background: rgba(21,155,255,0.5);}
@media screen and (min-width: 768px) {
.button a:hover,
li:hover .button span {
transition: all  0.5s ease;
background: rgba(0,249,0,0.5);
}
li.free-wifi:hover .button span,
.pages-free-wifi li:hover .button span,
.pages-free-wifi .button-home a:hover   {background: rgba(249,226,49,0.5);}
li.not-found:hover .button span,
.pages-not-found li:hover .button span,
.pages-not-found .button-home a:hover   {background: rgba(0,183,255,0.5);}
li.neon-logo:hover .button span,
.pages-neon-logo li:hover .button span,
.pages-neon-logo .button-home a:hover   {background: rgba(255,0,202,0.5);}
.videos .button a:hover,
.members .button a:hover,
.wallpapers .button a:hover,
.mail .button a:hover				    {background: rgba(255,255,255,0.2);}
.pages-members .button-home a:hover     {background: rgba(180,180,255,0.5);}
.pages-videos .button-home a:hover,
.pages-mail .button-home a:hover 	    {background: rgba(255,0,0,0.5);}
.pages-news .button-home a:hover 	    {background: rgba(255,214,79,0.5);}
}

/* goods
================================================== */
.goods-list {
display: flex;
}
.goods-list li {
position: relative;
}
.goods-list li.free-wifi    {background: #F9E231;}
.goods-list li.not-found    {background: #00B7FF;}
.goods-list li.neon-logo    {background: #FF00CA;}
.goods-list li.hello-world  {background: #00F900;}
@media screen and (min-width: 768px) {
.goods-list li      {width: 33.3333%;}
.goods-list li img  {width: 100%; padding-top: 5vh;}
}
@media screen and (max-width: 767px) {
.goods-list {
overflow: auto;
scroll-snap-type: x proximity;
font-size: 0;
}
.goods-list li {
scroll-snap-align: start;
height: 72vh;
}
.goods-list li img {height: 100%;}
}

/* videos
================================================== */
.videos {background: #FF0000;}
.videos-wrapper {margin: 0 auto;}
.videos-wrapper p {
position: relative;
padding-bottom: 56.25%;
}
.videos-wrapper iframe {
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
width: 100%;
height: 100%;
margin: auto;
}
@media screen and (min-width: 768px) {
.videos-wrapper {width: 80%;}
.wallpapers img {width: 80%;}
}
@media screen and (max-width: 767px) {
.videos-wrapper {width: 100%;}    
.wallpapers img {width: 100%;}
}

/* members
================================================== */
.members {
color: #000;
background: #8783FF;
}
.members-list {
display: flex;
justify-content: center;
flex-wrap: nowrap;
font-size: 90%;
letter-spacing: 0.1em;
line-height: 2.0;
}
.members-list span {display: block;}
.members-name {
font-family: "8bitmadness";
font-size: 170%;
letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
.members-list {width: 70%;margin: 0 auto;}
.members-icon img {width: 35%; border-radius: 50%;}
.members-sns img {width: 9%;}
}
@media screen and (max-width: 767px) {
.members-list {margin: 0 auto;}
.members-list img {width: 70%; border-radius: 50%;}
.members-sns img {width: 25%;}
}
.pages-members .text {color: #A1A1FF;}

/* wallpapers
================================================== */
.wallpapers {background: #2D8CFF;}
.button-wallpapers a {letter-spacing: -0.06em;}
.wallpapers .text {line-height: 1;}

/* news
================================================== */
.news {
background: #FFF468;
}
article {
color: #000;
text-align: left;
background: rgba(255,255,255,0.9);
}
article .text {
color: #000;
line-height: 2.5;
}
.news a {
color: #000;
text-decoration: underline;
}
.date {
font-size: 140%;
color: #666;
font-family: "8bitmadness";
}
.date span {
font-size: 60%;
font-family: "kinakomochi";
}
.news dl dt:first-child {
padding-top: 0;
}
.news-list {
margin: 0 auto;
display: flex;
flex-wrap: wrap;
align-items: center;
line-height: 1.5;
}
.news-list dt {
text-align: center;
}
.news-list dd {
margin-top: 1.3em;
}
@media screen and (min-width: 768px) {
    .news article {
    width: 80%;
    margin: 0 auto;
    padding: 5vh;
    }
    .news-list {width: 80%;}
    .news-list dt {width: 25%;}
    .news-list dd {width: 75%;}
}
@media screen and (max-width: 767px) {
    .news article {padding: 5vh 3vh;}
    .news-list dt {width: 35%; line-height: 1.0;}
    .news-list dd {width: 62%;}
}
.news-about {
text-align: center;
}
.icon-img {
border-radius: 50%;
width: 40px;
margin: 0 0.3em 0.3em 0.3em;
vertical-align: bottom;
}
.talking {
line-height: 2.5;
}
.talking dt {
letter-spacing: -0.2em;
}
@media screen and (min-width: 768px) {
.talking {
display: flex;
flex-wrap: wrap;
align-items: top;
width: 90%;
margin: 5vh auto 0 auto;
}
.talking dt {
width: 30%;
margin-top: 1.5vh;
}
.talking dd {
width: 70%;
margin-top: 2vh;
}
}
@media screen and (max-width: 767px) {
.talking dt {margin-top: 4vh;}
}
hr {
margin: 5vh 0;
border-top: 2px solid #ccc;
}
.link {
padding: 5vh 2vh;
line-height: 2.0;
text-align: center;
background: #FFF9D6;
}
.link:before	{
content: "🔗";
font-size: 120%;
margin-right: 0.2em;
}
.news .button-home a {
color: #fff;
text-decoration: none;
}

/* address
================================================== */
.address {background: #55C7FF;}
.share-list {
display: flex;
justify-content: center;
flex-wrap: nowrap;
}
.share-twitter a {background: #1DA1F2;}
.share-facebook a {background: #1877F2;}
.share-list li a {
display: block;
width: 100%;
font-size: 85%;
line-height: 4.0;
border-radius: 5px;
}
.share-list img {
width: 50px;
vertical-align: middle;
}
.share-list li:first-child {margin-right: 25px;}
@media screen and (min-width: 768px) {.share-list li {width: 140px;}}
@media screen and (max-width: 767px) {.share-list li {width: 125px;}}
.accounts-list li img {width: 100%;}
.accounts-list {
display: flex;
justify-content: center;
}
.accounts-list li {width: 25%; margin: 0 auto;}
.accounts-suzuri {background: #EDECED;}
.accounts-twitter {background: #1DA1F2;}
.accounts-instagram {background: linear-gradient(to bottom left, #545ACE, #EE299B);}
.accounts-youtube {background: #FF0000;}
@media screen and (min-width: 768px) {.accounts-list li img {padding: 20% 32%;}}
@media screen and (max-width: 767px) {.accounts-list li img {padding: 14% 17%;}}

/* footer
================================================== */
footer {color: #999; font-size: 90%;}
@media screen and (min-width: 768px) {footer {padding: 5%;}}
@media screen and (max-width: 767px) {footer {padding: 10% 0;}}

/* pages
================================================== */
.pages-goods-list {
width: 100%;
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.pages-goods-list li {position: relative;}
.pages-goods-list li img {
height: auto;
}
@media screen and (min-width: 768px) {
.pages-goods-list li {width: 50%;}
.pages-goods-list li img {width: 80%;}
li.max {width: 100%;}
li.max img {width: 50%;}
.order1 {order: 1;}
.order2 {order: 2;}
.order3 {order: 4;}
.order4 {order: 3;}
.order5 {order: 5;}
.order6 {order: 6;}
.order7 {order: 8;}
.order8 {order: 7;}
.order9 {order: 9;}
}
@media screen and (max-width: 767px) {
.pages-goods-list li img {width: 100%;}
}

/* hashtag
================================================== */
.hashtag {
position: absolute;
padding: 10px 7px 7px 7px;
font-size: 90%;
background: rgba(255,255,255,0.3) ;
border: solid 3px #fff;
border-radius: 5px;
}
.hashtag:before {content: "#";}
.hashtag-left:after {
content: "";
position: absolute;
top: 50%;
right: -15px;
margin-top: -7px;
border: 7px solid transparent;
border-left: 7px solid #fff;
z-index: 1;
}
.hashtag-right:after {
content: "";
position: absolute;
top: 50%;
left: -15px;
margin-top: -7px;
border: 7px solid transparent;
border-right: 7px solid #fff;
z-index: 1;
}
.hashtag-01 {top: 5.5%; left: 5.5%;}
.hashtag-02 {top: 13%; left: 8%;}
.hashtag-03 {top: 5.5%; right: 5.5%;}
.hashtag-04 {top: 13%; right: 8%;}
.pages-not-found .hashtag-color 					{color: #00B7FF;}
.pages-not-found .hashtag-color.hashtag				{border: solid 3px #00B7FF; background: rgba(255,255,255,0.1);}
.pages-not-found .hashtag-color.hashtag-left:after 	{border-left: 7px solid #00B7FF;}
.pages-not-found .hashtag-color.hashtag-right:after {border-right: 7px solid #00B7FF;}
.pages-neon-logo .hashtag-color 					{color: #FF00CA;}
.pages-neon-logo .hashtag-color.hashtag				{border: solid 3px #FF00CA; background: rgba(255,255,255,0.1);}
.pages-neon-logo .hashtag-color.hashtag-left:after 	{border-left: 7px solid #FF00CA;}
.pages-neon-logo .hashtag-color.hashtag-right:after {border-right: 7px solid #FF00CA;}

.pages-neon-logo .color-change .hashtag-color 					    {color: #7A40A9;}
.pages-neon-logo .color-change .hashtag-color.hashtag			    {border: solid 3px #7A40A9; background: rgba(255,255,255,0.1);}
.pages-neon-logo .color-change .hashtag-color.hashtag-left:after    {border-left: 7px solid #7A40A9;}
.pages-neon-logo .color-change .hashtag-color.hashtag-right:after   {border-right: 7px solid #7A40A9;}

@media screen and (max-width: 767px) {
.hashtag-02 {top: 18%;}
.hashtag-04 {top: 18%;}
}

/* pages-not-found
================================================== */
.pages-not-found .text {color: #00B7FF;}
.pages-not-found .pages-goods-list {background: #212121;}
.pages-not-found .pages-goods-list li:nth-last-child(odd) {background: #00B7FF;}

/* hello-world
================================================== */
.pages-hello-world .text {color: #00F900;}
.pages-hello-world .pages-goods-list {background: #797979;}
.pages-hello-world .pages-goods-list li:nth-child(odd) {background: #00F900;}

/* neon-logo
================================================== */
.pages-neon-logo .text {color: #FF00CA;}
.pages-neon-logo .pages-goods-list {background: #FFCDFF;}
.pages-neon-logo .pages-goods-list li:nth-child(odd) {background: #FF00CA;}
.pages-neon-logo .pages-goods-list li.color-change {background: #D1B9F4;}

/* pages-free-wifi
================================================== */
.pages-free-wifi .text {color: #F9E231;}
.pages-free-wifi .pages-goods-list {background: #212121;}
.pages-free-wifi .pages-goods-list li:nth-child(odd) {background: #F9E231;}

/* pages-videos
================================================== */
.pages-videos .text {color: #fff;}

/* pages-mail
================================================== */
.pages-mail .text {color: #fff;}
.mail-address {
display: inline-block;
color: #fff;
padding: 10px;
background: #FF0000;
}

/* background
================================================== */
.text {
color: #00F900;
line-height: 3.5;
}
.english {
letter-spacing: -0.2em;
margin-right: 0.2em;
}
@media screen and (min-width: 768px) {
.area01 {
background-image: url("/assets/img/bg/bg-pc-top.svg"), url("/assets/img/bg/bg-pc-bottom.svg");
background-position: center top, center bottom;
background-repeat: no-repeat, no-repeat;
background-size: 100% auto, 100% auto;
}
.pages .area01 {
background-image: url("/assets/img/bg/bg-pc.svg");
background-position: center top;
background-repeat: repeat-y;
background-size: 100% auto;
}
.members.area01 {
background-image: url("/assets/img/bg/bg-pc-members-top.svg"), url("/assets/img/bg/bg-pc-members-bottom.svg");
background-position: center top, center bottom;
background-repeat: no-repeat, no-repeat;
background-size: 100% auto, 100% auto;
}
.about-wrapper {
display: inline-block;
padding: 6%;
background-image: url("/assets/img/bg/about-wrapper-bottom.png"), url("/assets/img/bg/about-wrapper-top.png");
background-position: right bottom, center top;
background-repeat: no-repeat, no-repeat;
background-size: 100% auto, 100% auto;
}
}
@media screen and (max-width: 767px) {
.area01 {
background-image: url("/assets/img/bg/bg-sp-top.svg"), url("/assets/img/bg/bg-sp-bottom.svg");
background-position: center top, center bottom;
background-repeat: no-repeat, no-repeat;
background-size: 100% auto, 100% auto;
}
.pages .area01 {
background-image: url("/assets/img/bg/bg-sp.svg");
background-position: center top;
background-repeat: repeat-y;
background-size: 100% auto;
}
.members.area01 {
background-image: url("/assets/img/bg/bg-sp-members-top.svg"), url("/assets/img/bg/bg-sp-members-bottom.svg");
background-position: center top, center bottom;
background-repeat: no-repeat, no-repeat;
background-size: 100% auto, 100% auto;
}
}

/* margin
================================================== */
.pages .area01 .title {margin-top: 15vh;}
.pages .area01 .title:first-child {margin-top: 0;}
.text,
.link,
article iframe {margin-top: 5vh;}
.news-list dt {margin-top: 2vh;}
.area02 {padding-top: 5vh;}
.summary {margin-top: 1vh; margin-bottom: 5vh;}
.mail-address {margin-top: 3vh;}
.address .title {padding-top: 6vh;}
.address .summary {margin-bottom: 2vh;}
.address .text,
.area04 .text {margin-top: 0;}
@media screen and (min-width: 768px) {
.area01 {padding: 20vh 5vh;}
.area03 {padding: 5vh;}
}
@media screen and (max-width: 767px) {
.area01 {padding: 20vh 2vh;}
.area03 {padding: 5vh 2vh;}
}
.area04 {padding-bottom: 10vh;}
