@charset "utf-8";
/* reset
================================================== */
* {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* box-sizing
================================================== */
*,
*:before,
*:after {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
}

/* body
================================================== */
body {
width: 100%;
color: #fff;
font-size: 16px;
text-align: center;
word-break: break-all;
background: #000;
}
@media screen and (max-width: 767px) {
body {font-size: 90%;}
}

/* selection
================================================== */
@media screen and (min-width: 768px) {
::selection		   {background:#00F900;}
::-moz-selection    {background:#00F900;}
}

/* a
================================================== */
a {
text-decoration: none;
outline: none;
cursor: pointer;
}
a:link,
a:visited {color: #fff;}
@media screen and (min-width: 768px) {
:hover {
-moz-transition: all 0.5s;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
-ms-transition: all 0.5s;
transition: all 0.5s;
}
a:hover {opacity: 0.6;}
.contact:hover,
.accounts li:hover {opacity: 0.9;}
}

/* font
================================================== */
@font-face {
font-family: "kinakomochi";
src: url("/assets/fonts/kinakomochi.otf");
src:
url("/assets/fonts/kinakomochi.otf") format("opentype"),
url("/assets/fonts/kinakomochi.ttf") format("truetype"),
url("/assets/fonts/kinakomochi.eot?#iefix") format("embedded-opentype"),
url("/assets/fonts/kinakomochi.woff2") format("woff2"),
url("/assets/fonts/kinakomochi.woff") format("woff");
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "pixelmplus";
src: url("/assets/fonts/pixelmplus.ttf");
src:
url("/assets/fonts/pixelmplus.ttf") format("truetype"),
url("/assets/fonts/pixelmplus.otf") format("opentype"),
url("/assets/fonts/pixelmplus.eot?#iefix") format("embedded-opentype"),
url("/assets/fonts/pixelmplus.woff2") format("woff2"),
url("/assets/fonts/pixelmplus.woff") format("woff");
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "8bitmadness";
src: url("/assets/fonts/8bitmadness.ttf");
src:
url("/assets/fonts/8bitmadness.ttf") format("truetype"),
url("/assets/fonts/8bitmadness.otf") format("opentype"),
url("/assets/fonts/8bitmadness.eot?#iefix") format("embedded-opentype"),
url("/assets/fonts/8bitmadness.woff2") format("woff2"),
url("/assets/fonts/8bitmadness.woff") format("woff");
font-weight: normal;
font-style: normal;
}

/* pc sp
================================================== */
@media screen and (min-width: 768px) {.sp {display: none;}}
@media screen and (max-width: 767px) {.pc {display: none;}}

/* common
================================================== */
.wrapper {
overflow: hidden;
}
section,
header,
footer {
position:relative;
font-family: "kinakomochi", "pixelmplus";
letter-spacing: 0.15em;
}
h2 {
font-family: "8bitmadness", "kinakomochi", "pixelmplus";
font-size: 450%;
padding-top: 5vh;
line-height: 0.8;
color: #fff;
}
.summary {
font-size: 14px;
color: #fff;
line-height: 1.8;
margin-top: 1vh;
margin-bottom: 5vh;
}
.text h2 {padding-top: 0;}
.balloon {font-size: 320%;}
.balloon:before {content:"\5C";}
.balloon:after {content:"\2f";}
.news h2,
.news .summary {color: #000;}
@keyframes blink-cursor {50% {opacity: 0;}}
p:after,
dl dd:after {
content: "";
padding: 0.2em;
vertical-align: middle;
border-right: 0.4em solid;
animation: blink-cursor 1s infinite;
}

/* logo
================================================== */
.photo {
height: 100vh;
height: calc(var(--vh, 1vh) * 100);
overflow: hidden;
}
.logo img {
position: absolute;
top: 50%;
left: 50%;
transform: translateY(-50%) translateX(-50%);
-webkit-transform: translateY(-50%) translateX(-50%);
}
@media screen and (min-width: 768px) {
	.logo img {width: 60%;}
	.logo.small img {width: 20%;}
}
@media screen and (max-width: 767px) {
	.logo img {width: 100%;}
	.pages .logo img {width: 90%;}
	.pages .logo.small img {width: 30%;}
}
.logo-01 {animation: blink-logo linear infinite 3s;}
.logo-02 {animation: blink-logo linear infinite 3.5s;}
.logo-03 {animation: blink-logo linear infinite 4s;}
.logo-04 {animation: blink-logo linear infinite 4.5s;}
.logo-05 {animation: blink-logo linear infinite 5s;}
.logo-06 {animation: blink-logo linear infinite 6.5s;}
.logo-07 {animation: blink-logo linear infinite 7s;}
.logo-08 {animation: blink-logo linear infinite 7.5s;}
.logo-09 {animation: blink-logo linear infinite 4s;}
@keyframes blink-logo {
78%{opacity: 1;}
79%{opacity: 0.4;}
81% {opacity: 1;}
82% {opacity: 0.4;}
83% {opacity: 1;}
92% {opacity: 0.4;}
93% {opacity: 1;}
}

/* pixel
================================================== */
.pixel-wrapper {
width: 100%;
height: 100%;
background: #000;;
overflow: hidden;
}
.pixel-list {
position: absolute;
height: 100%;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
overflow: hidden;
}
.pixel {
float: left;
opacity: 0;
animation: blink-pixel 2s infinite;
background: #797979;
}
@keyframes blink-pixel {50% {opacity: 0.5;}}
.color-blue,.color-blue .pixel {background: #00B7FF;}
.color-magenta,.color-magenta .pixel {background: #FF00CA;}
.color-yellow,.color-yellow .pixel {background: #FFFF00;}
.color-green,.color-green .pixel {background: #00F900;}
.color-red,.color-red .pixel {background: #FF0000;}
.color-purple,.color-purple .pixel {background: #8783FF;}
.color-blue .pixel-wrapper {background: #002332;}
.color-magenta .pixel-wrapper {background: #22001B;}
.color-yellow .pixel-wrapper {background: #AFAF00;}
.color-green .pixel-wrapper {background: #002F00;}
.color-red .pixel-wrapper {background: #6A0000;}
.color-purple .pixel-wrapper {background: #232243;}
@media screen and (min-width: 768px) {
	.pixel-list {width: 200vh;}
	.pixel {
		width: 20vh;
		height: 20vh;
		height: calc(var(--vh, 1vh) * 20);
	}
	.photo-small {height: 60vh; height: calc(var(--vh, 1vh) * 60);}
	.photo-medium {height: 80vh; height: calc(var(--vh, 1vh) * 80);}
}
@media screen and (max-width: 767px) {
	.pixel-list {width: 55vh;}
	.pixel {
		width: 11vh;
		height: 12.6vh;
		height: calc(var(--vh, 1vh) * 12.6);
	}
	.photo-small {height: 37.5vh; height: calc(var(--vh, 1vh) * 37.5);}
	.photo-medium {height: 50vh; height: calc(var(--vh, 1vh) * 50);}
}

/* about
================================================== */
.about {
color: #00F900;
line-height: 3.5;
}

/* button
================================================== */
.button {
display: block;
margin: 0 auto;
width: 240px;
font-size: 14px;
margin-top: 5vh;
}
.button a {
display: block;
background: #444;
line-height: 4.0;
border-radius: 5px;
}
.button a:after {content: ">";}

/* goods
================================================== */
.goods-list {
display: flex;
font-size: 0;
}
.goods-list li {
position: relative;
}
.goods-list li.not-found {background: #00B7FF;}
.goods-list li.neon-logo {background: #FF00CA;}
.goods-list li.hello-world {background: #00F900;}
@media screen and (min-width: 768px) {
.goods-list li {width: 33.3333%;}
.goods-list li img {width: 100%;}
}
@media screen and (max-width: 767px) {
	.goods-list {
	overflow: auto;
	scroll-snap-type: x proximity;
	}
	.goods-list li {
	scroll-snap-align: start;
	height: 72vh;
	}
	.goods-list li img {height: 100%;}
}
.goods .button {
position: absolute;
bottom: 5vh;
left: 50%;
margin-left: -120px;
line-height: 4.0;
background: #444;
border-radius: 5px;
}
.goods .button:after {content: ">";}

/* youtube
================================================== */
.youtube {
background: #FF0000;
}
@media screen and (min-width: 768px) {.youtube {padding: 0 5% 5% 5%;}}
@media screen and (max-width: 767px) {.youtube {padding: 0 5% 10% 5%;}}
.youtube-wrapper {
position: relative;
padding-bottom: 56.25%;
}
.youtube-wrapper iframe {
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
width: 100%;
height: 100%;
margin: auto;
}

/* members
================================================== */
.members {
color: #000;
font-size: 90%;
letter-spacing: 0.1em;
line-height: 2.0;
background: #8783FF;
}
.members-list {
display: flex;
justify-content: center;
flex-wrap: nowrap;
}
.members-list span {display: block;}
.members-name {
font-family: "8bitmadness";
font-size: 170%;
letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
	.members-list {width: 70%;margin: 0 auto;}
	.members-list a:hover {display: block;}
	.members-icon img {width: 35%; border-radius: 50%;}
	.members-sns img {width: 9%;}
}
@media screen and (max-width: 767px) {
	.members-list {width: 90%;margin: 0 auto;}
	.members-list img {width: 70%; border-radius: 50%;}
	.members-sns img {width: 25%;}
}

/* news
================================================== */
.news {
color: #000;
background: #FFF468;
}
.news dl {
margin: 0 auto;
line-height: 2.0;
}
.news dl dt {
font-size: 140%;
color: #666;
padding-top: 5%;
font-family: "8bitmadness";
}
.news dl dt:first-child {
padding-top: 0;
}

/* address
================================================== */
.address {background: #55C7FF;}
.share-list {
display: flex;
justify-content: center;
flex-wrap: nowrap;
}
.share-twitter a {background: #1DA1F2;}
.share-facebook a {background: #1877F2;}
.share-list li a {
display: block;
width: 100%;
font-size: 85%;
line-height: 4.0;
border-radius: 5px;
}
.share-list img {
width: 50px;
vertical-align: middle;
}
.share-list li:first-child {margin-right: 25px;}
@media screen and (min-width: 768px) {
	.share {padding: 0vh 0 0vh 0;}
	.share-list li {width: 140px;}
	
}
@media screen and (max-width: 767px) {
	.share {padding: 0 0 5vh 0;}
	.share-list li {width: 125px;}
}
.accounts-mail {
margin: 0 auto;
display: block;
}
.contact img,
.accounts-list li img {width: 100%;}
.accounts-list {
display: flex;
justify-content: center;
}
.accounts-list li {width: 25%; margin: 0 auto;}
.accounts-suzuri {background: #EDECED;}
.accounts-twitter {background: #1DA1F2;}
.accounts-instagram {
background: -moz-linear-gradient(top right, #545ACE, #EE299B);
background: -webkit-linear-gradient(top right, #545ACE, #EE299B);
background: linear-gradient(to bottom left, #545ACE, #EE299B);
}
.accounts-youtube {background: #FF0000;}
@media screen and (min-width: 768px) {
	.accounts-list li img {padding: 20% 32%;}
	.accounts-mail {width: 6.5%;}
}
@media screen and (max-width: 767px) {
	.accounts-list li img {padding: 14% 17%;}
	.accounts-mail {width: 15%;}
}

/* text
================================================== */
.text {
padding: 20vh 0;
}
@media screen and (min-width: 768px) {
.text {
background-image: url("/assets/img/common/bg.svg"), url("/assets/img/common/bg.svg");
background-position: left 100px, right bottom 100px;
background-repeat: no-repeat, no-repeat;
background-size: 10% auto, 10% auto;
}
}
@media screen and (max-width: 767px) {
.text {
background-image: url("/assets/img/common/bg.svg"), url("/assets/img/common/bg.svg");
background-position: left 40px, right bottom 40px;
background-repeat: no-repeat, no-repeat;
background-size: 20% auto, 20% auto;
}
}

/* footer
================================================== */
footer {color: #999; font-size: 170%; font-family: "8bitmadness";}
@media screen and (min-width: 768px) {footer {padding: 5%;}}
@media screen and (max-width: 767px) {footer {padding: 10% 0;}}

/* pages
================================================== */
.pages-goods-list {
width: 100%;
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.pages .text p {margin-top: 5vh;}
.pages .text p:first-child {margin-top: 0;}
.pages-goods-list li img {
width: 100%;
height: auto;
}
@media screen and (min-width: 768px) {
	.pages-goods-list li {width: 50%;}
	li.max {width: 100%;}
	li.max img {width: 50%;}
}
@media screen and (max-width: 767px) {
	.pages-goods-list {flex-direction: column;}
	.order1 {order: 1;}
	.order2 {order: 2;}
	.order3 {order: 4;}
	.order4 {order: 3;}
	.order5 {order: 5;}
	.order6 {order: 6;}
	.order7 {order: 7;}
}

/* pages-not-found
================================================== */
.pages-not-found .text {color: #00B7FF;}
.pages-not-found .pages-goods-list {background: #212121;}
.pages-not-found .order1,
.pages-not-found .order4,
.pages-not-found .order5,
.pages-not-found .order7 {background: #00B7FF;}

/* neon-logo
================================================== */
.pages-neon-logo .text {color: #FF00CA;}
.pages-neon-logo .pages-goods-list {background: #FFCDFF;}
.pages-neon-logo .order1,
.pages-neon-logo .order4,
.pages-neon-logo .order5,
.pages-neon-logo .order7 {background: #FF00CA;}

/* hello-world
================================================== */
.pages-hello-world .text {color: #00F900;}
.pages-hello-world .pages-goods-list {background: #797979;}
.pages-hello-world .order1,
.pages-hello-world .order4 {background: #00F900;}

/* pages-mail
================================================== */
.pages-mail .text {color: #fff;}
.mail-address {
	letter-spacing: -0.1em;
	color: #fff;
	padding: 10px;
	background: #FF0000;
}